@{
    ViewData["Title"] = "Главная";
}

<div bgcolor="#854f32">
    <h1 style="margin-bottom: 20px;">Сеть библиотек «Потерянная глава»</h1>
    <img src="~/css/img/img-home-page.jpg" style="display: flex; justify-content: center; align-items: center;" width="100%"/>
</div>


